<div>

  <div class='major-header'>
    <h1>Usuários</h1>
  </div>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Curso</th>
        <th>Email</th>
        <th>Senha</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>

      {{#each users}}
        <div id='modal'>
          <div id='modalContent'>
            <div class='modal-header'>
              Confirmar Deleção
            </div>
            <p id='confirmationMessage'></p>
            <div class='modal-buttons'>
              <button onclick='closeModal()'>Fechar</button>
              <form action='/user/delete/{{user.id}}' method='POST'>
                <button
                  id='btn-confirmar'
                  type='submit'
                  class='btn-confirmar'
                >Sim, apagar usuário</button>
              </form>

            </div>
          </div>
        </div>

        <tr>
          <!---->

          <td>{{user.name}}</td>
          <td>{{major.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.password}}</td>
          <td>

            <i class='fas fa-pencil-alt icon'></i>
            <i class='fas fa-eye icon'></i>

              <i
                class='fas fa-trash-alt icon'
                onclick='deletarUser("{{user.name}}")'
              ></i>

          </td>
        </tr>
      {{/each}}

    </tbody>
  </table>

</div>

<style>
  .major-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th,
  td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }
  .icon {
    cursor: pointer;
    margin-right: 10px;
  }

  /* Estilo do Modal */
  #modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  #modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  #modal-criar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  #modalContent-criar {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  .modal-header {
    font-weight: bold;
  }
  .modal-buttons {
    margin-top: 20px;
  }
  .modal-buttons button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
</style>